<p id="notice"><%= notice %></p>

<h1>Listing Homes</h1>


<table>
<tr>
  <th>userId</th>
  <th>id</th>
  <th>title</th>
  <th>body</th>
</tr>
<% @parsed.each do |p| %>
<tr>
  <td><%= p["userId"] %></td>
  <td><%= p["id"] %></td>
  <td><%= p["title"] %></td>
  <td><%= p["body"] %></td>
</tr>
<% end %>
</table>


<br />
<br />
<br />
<br />

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.index %></td>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home', new_home_path %>
